@import '~assets/styles/colors';

.footer {
  background-color: $main;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 5vh;
  width: 100%;
  padding: 0 10%;

  @media screen and (max-width: 1024px) {
    padding: 0 5%;
  }

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .socialMedia {
    width: 50px;
    justify-content: space-between;
    display: flex;
  }
}
